@tailwind base;
@tailwind components;
@tailwind utilities;

.img_bg_banner{
    background-image: url('https://i.ibb.co/jWwvC1C/bg-01.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 28px;
}
.img_bg_about_me{
    background-image: url('https://i.postimg.cc/FHMZ6V1Y/blackish-green.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 28px;
}
.img_bg{
    background-image: url(../src/assets/images/footer-3.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.img_bg2{
    background-image: url(../src/assets/images/bg/green.jfif);
    width: 100%;
    height: 100%;
    background-size: cover;
    /* border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; */
    border-radius: 12px;
}
.img_bg3{
    background-image: url(../src/assets/images/bg/bg-skill.jfif);
    width: 100%;
    height: 100%;
    background-size: cover;
    /* border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; */
    border-radius: 12px;
}
.text-basic{
    color: rgb(244, 203, 54);
    font-weight: 500;
}
/* .btn-base{
    background-color: rgb(0, 49, 0);
    color: rgb(244, 203, 54);
    font-weight: 500;
    border: 1px solid  rgb(244, 203, 54);
} */
.btn-base{
    background-color: rgb(0, 49, 0);
    color: rgb(244, 203, 54);
    font-weight: 500;
    border: 1px solid  rgb(244, 203, 54);
}
.btn-base:hover{
    background-color: rgb(244, 203, 54);
    color: rgb(0, 49, 0);
    font-weight: 500;
    border: 1px solid   rgb(0, 49, 0);
}
.green-text{
    color: rgb(70, 168, 70);
    font-weight: 500;
}
.active{
    font-weight: bold !important;
    color: rgb(241, 215, 149) !important;
    /* color: green !important;
    background-color: rgb(229, 209, 58) !important; */
    text-decoration: underline;
}

.text-footer{
    color: rgb(207, 185, 106);
    font-weight: 500;
}


/* CLASS FOR SWAL BUTTON */
.custom-close-button {
    background-color: #3498db;  
    color: white;               
    font-weight: bold;          
    border-radius: 5px;         
    padding: 10px 20px;         
    transition: 0.3s ease;      
}

.custom-close-button:hover {
    background-color: #2980b9;  /* Darker shade on hover */
}